# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.venv/
venv/
ENV/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Airflow
airflow/airflow.db
airflow/airflow.db-shm
airflow/airflow.db-wal
airflow/logs/

# dbt
target/
dbt_packages/
logs/

# Docs (generated)
docs/

# Docker
*.log
